# Strings in Python
A string is a sequence of characters. It can be declared in python by using double quotes. Strings are immutable, i.e., they cannot be changed.

In Python, Strings are arrays of bytes representing Unicode characters. However, Python does not have a character data type, a single character is simply a string with a length of 1. Square brackets can be used to access elements of the string.

In [1]:
# Creating a String with single Quotes 

String1 = 'Welcome to the Python World'
print(String1)

Welcome to the Python World

In [2]:
# Creating a String with double Quotes 

String2 = "Welcome to the Rajkamal's World"
print(String2)

Welcome to the Rajkamal's World

In [3]:
# Creating a String with thriple Quotes 

String3 = '''Welcome to the Python World'''
print(String3)

Welcome to the Python World

In [4]:
# Creating String with triple Quotes allows multiple lines 
String1 = '''Raj 
For 
Life'''

print(String1)

Raj
For
Life

### Accessing characters in Python

In Python, individual characters of a String can be accessed by using the method of Indexing. Indexing allows negative address references to access characters from the back of the String, e.g. -1 refers to the last character, -2 refers to the second last character and so on.
- While accessing an index out of the range will cause an IndexError. 
- Only Integers are allowed to be passed as an index, float or other types will cause a TypeError.

In [5]:
string1 = 'Rajkamal B Gowda'

In [6]:
string1[0]

'R'

In [7]:
string1[1]

'a'

In [8]:
string1[2]

'j'

In [9]:
string1[-1]

'a'

In [10]:
string1[-2]

'd'

### String Slicing
To access a range of characters in the String, method of slicing is used. Slicing in a String is done by using a Slicing operator (colon)

In [11]:
st1='rajkamal b gowda'

In [12]:
st1[0:3]

'raj'

In [13]:
st1[2:5]

'jka'

In [14]:
st1[3:8]

'kamal'

In [15]:
st1[:]

'rajkamal b gowda'

In [16]:
st1[:3]

'raj'

In [17]:
st1[-1:]

'a'

In [18]:
st1[:-1]

'rajkamal b gowd'

In [19]:
st1[:-8]

'rajkamal'

In [20]:
st1[25]

IndexError: string index out of range

In [21]:
st1[:25]

'rajkamal b gowda'

In [22]:
st1[25:]

''

In [23]:
st1[2.5:]

TypeError: slice indices must be integers or None or have an __index__ method

### Deleting/Updating from a String

In Python, Updation or deletion of characters from a String is not allowed. This will cause an error because item assignment or item deletion from a String is not supported. Although deletion of entire String is possible with the use of a built-in del keyword. This is because Strings are immutable, hence elements of a String cannot be changed once it has been assigned. Only new strings can be reassigned to the same name.

In [24]:
st2='Raj'

In [25]:
st2

'Raj'

In [26]:
st2[0]='T'

TypeError: 'str' object does not support item assignment

In [27]:
#we can only update kentire string

st2='Taj'

In [28]:
st2

'Taj'

In [29]:
#deleting a character in a string cannot be done

del st2[0]

TypeError: 'str' object doesn't support item deletion

In [30]:
#Can delete an entire string

In [31]:
del st2

In [32]:
st2 #because there is no st2

NameError: name 'st2' is not defined

## Escape Sequencing in Python
While printing Strings with single and double quotes in it causes SyntaxError because String already contains Single and Double Quotes and hence cannot be printed with the use of either of these. Hence, to print such a String either Triple Quotes are used or Escape sequences are used to print such Strings.
Escape sequences start with a backslash and can be interpreted differently. If single quotes are used to represent a string, then all the single quotes present in the string must be escaped and same is done for Double Quotes.

In [33]:
print("rajkamal is a good boy")

rajkamal is a good boy

In [34]:
print('rajkamal is a good boy')

rajkamal is a good boy

In [35]:
print('rajkamal's friend sam is a bad boy')

SyntaxError: invalid syntax (<ipython-input-35-0c79c833d812>, line 1)

In [36]:
print("rajkamal's friend sam is a bad boy")

rajkamal's friend sam is a bad boy

In [37]:
print("Ramu said,"I am a bad boy"")

SyntaxError: invalid syntax (<ipython-input-37-1651fef661da>, line 1)

In [38]:
print(""" Ramu said, "I am a bad boy" """)

 Ramu said, "I am a bad boy"

In [39]:
# Escaping Single Quote  

String1 = 'I\'m an "Indian"'

print("\nEscaping Single Quote: ") 

print(String1)

Escaping Single Quote:
I'm an "Indian"

In [40]:
# Escaping Double Quotes 

String1 = "I'm an \"Indian\""

print("\nEscaping Double Quotes: ") 

print(String1)

Escaping Double Quotes:
I'm an "Indian"

In [41]:
# Printing Paths with the  
# use of Escape Sequences 

String1 = "C:\\Python\\Folder1\\"

print("\nEscaping Backslashes: ") 

print(String1)

Escaping Backslashes:
C:\Python\Folder1\

## Formatting of Strings
Strings in Python can be formatted with the use of format() method which is very versatile and powerful tool for formatting of Strings. Format method in String contains curly braces {} as placeholders which can hold arguments according to position or keyword to specify the order.

In [42]:
# Default order 

String1 = "{} {} {}".format('Python', 'For', 'Life') 
print("Print String in default order: ") 
print(String1)

Print String in default order:
Python For Life

In [43]:
# Positional Formatting 

String1 = "{1} {0} {2}".format('Python', 'For', 'Life') 
print("\nPrint String in Positional order: ") 
print(String1)

Print String in Positional order:
For Python Life

In [44]:
# Keyword Formatting 

String1 = "{l} {f} {p}".format(p = 'Python', f = 'For', l = 'Life') 
print("\nPrint String in order of Keywords: ") 
print(String1)

Print String in order of Keywords:
Life For Python

#### Integers such as Binary, hexadecimal, etc. and floats can be rounded or displayed in the exponent form with the use of format specifiers.

In [45]:
# Formatting of Integers to its binary form

String1 = "{0:b}".format(16) 
print("\nBinary representation of 16 is ") 
print(String1)

Binary representation of 16 is
10000

In [46]:
String2 = "{0:b} is the binary form of 16 and {1:b} is the binary form of 12".format(16,12) 
print("\nBinary representation of 16 and 12: ") 
print(String2)

Binary representation of 16 and 12:
10000 is the binary form of 16 and 1100 is the binary form of 12

In [47]:
# Formatting of Floats 

String1 = "{0:e}".format(165.6458) 
print("Exponent representation of 165.6458 is ") 
print(String1)

Exponent representation of 165.6458 is
1.656458e+02

In [48]:
print("{0:e}".format(2.54549148461611551))

2.545491e+00

In [49]:
print("{0:e}".format(235964.54549148461611551))

2.359645e+05

In [50]:
# Rounding off Integers 

String1 = "{0:.2f}".format(1/6) 
print(String1)

0.17

In [51]:
String1 = "{0:.2f}".format(5/6) 
print(String1)

0.83

In [52]:
String1 = "{0:.2f}".format(5.345) 
print(String1)

5.34

In [53]:
String1 = "{0:.1f}".format(89.151236) 
print(String1)

89.2

In [54]:
String1 = "{0:.3f}".format(89.151236) 
print(String1)

89.151

In [55]:
String1 = "{0:.1f} and {1:.1f}".format(89.151236,92.25158) 
print(String1)

89.2 and 92.3

#### A string can be left() or center(^) justified with the use of format specifiers, separated by colon(:).

In [56]:
# String alignment  (Left, center and right alignment with Formatting)

In [57]:
s1= "({:<15})".format("Rajkamal")
print(s1)

(Rajkamal       )

In [58]:
s1= "({:>15})".format("Rajkamal")
print(s1)

(       Rajkamal)

In [59]:
s1= "({:^15})".format("Rajkamal")
print(s1)

(   Rajkamal    )

In [60]:
String1 = "|{:<10}|{:^10}|{:>10}|".format('Python','for','ML') 
print(String1)

|Python    |   for    |        ML|

In [61]:
String1 = "|{:<20}|{:^20}|{:>20}|".format('Python','for','ML') 
print(String1)

|Python              |        for         |                  ML|

In [62]:
# To demonstrate aligning of spaces

String1 = "{0:<16} since {1:>24}!".format("Rajkamal", 1997) 
print(String1)

Rajkamal         since                     1997!

### string.ascii_letters	
Concatenation of the ascii_lowercase and ascii_uppercase constants.

In [63]:
import string

In [64]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [65]:
#Concatenation of lowercase letters

string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [66]:
#Concatenation of uppercase letters

string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [67]:
#Digit in strings

string.digits

'0123456789'

In [68]:
#Hexadigit in strings

string.hexdigits

'0123456789abcdefABCDEF'

#### string.endswith()
Returns True if a string ends with the given suffix otherwise returns False

In [69]:
s= 'Rajkamal'

print(s.endswith('l'))

print(s.endswith('p'))

True
False

#### string.startswith()
Returns True if a string starts with the given prefix otherwise returns False

In [70]:
s.startswith('R')

True

In [71]:
s.startswith('p')

False

#### String.isdigit()	
Returns “True” if all characters in the string are digits, Otherwise, It returns “False”.

In [72]:
d='123456'

In [73]:
d.isdigit()

True

In [74]:
d='123raj'

In [75]:
d.isdigit()

False

#### String.isalpha()	
Returns “True” if all characters in the string are alphabets, Otherwise, It returns “False”.

In [76]:
s='Raj kamal'

s.isalpha()

False

In [77]:
s='Rajkamal'

s.isalpha()

True

In [78]:
s='Rajkamal123'

s.isalpha()

False

#### string.isdecimal()
Returns true if all characters in a string are decimal.

In [79]:
s='12345'

s.isdecimal()

True

In [80]:
s='12345rj'

s.isdecimal()

False

In [81]:
s='123 456'

s.isdecimal()

False

#### String.index	
Returns the position of the first occurrence of substring in a string

In [82]:
s='Rajkamal'

In [83]:
s.index('R')

0

In [84]:
s.index('a')

1

In [85]:
s.index('l')

7

#### string.swapcase()	
Method converts all uppercase characters to lowercase and vice versa of the given string, and returns it

In [86]:
s='Rajkamal B Gowda'

In [87]:
s.swapcase()

'rAJKAMAL b gOWDA'

#### replace()	
returns a copy of the string where all occurrences of a substring is replaced with another substring.

Syntax :

string.replace(old, new, count)

In [88]:
s='Rajkamal B Gowda'

In [89]:
s.replace('Raj','Taj')

'Tajkamal B Gowda'

In [90]:
x='My name is Raj Raj Raj'

In [91]:
x.replace('Raj','Taj',2)

'My name is Taj Taj Raj'

In [92]:
x.replace('Raj','Taj',1)

'My name is Taj Raj Raj'

In [93]:
x.replace('Raj','Taj',-1) #-1 replaces all

'My name is Taj Taj Taj'

#### Length of a string

In [94]:
s='Rajkamal'

In [95]:
len(s)

8

#### string.Istitle	
Returns True if the string is a titlecased string

In [96]:
s='Rajkamal'

In [97]:
s.istitle()

True

In [98]:
s='rajkamal'

In [99]:
s.istitle()

False

#### String.partition	
splits the string at the first occurrence of the separator and returns a tuple.

In [100]:
s="Rajkamal's email is rajkamal@gmail.com"

In [101]:
s.partition('@')

("Rajkamal's email is rajkamal", '@', 'gmail.com')

In [102]:
s.partition('email')

("Rajkamal's ", 'email', ' is rajkamal@gmail.com')

In [103]:
s.partition('is')

("Rajkamal's email ", 'is', ' rajkamal@gmail.com')

#### String.Isidentifier
Check whether a string is a valid identifier or not.

In [104]:
s='rajkamal'

In [105]:
s.isidentifier()

True

In [106]:
'rajkamal'.isidentifier()

True

In [107]:
'_rajkamal'.isidentifier()

True

In [108]:
'1Rajkamal'.isidentifier()

False

In [109]:
'raj kamal b gowda'.isidentifier()

False

#### String.Max	
Returns the highest alphabetical character in a string.

In [110]:
s='rajkamal'

In [111]:
max(s)

'r'

In [112]:
s='RAJKAMAL'

In [113]:
max(s)

'R'

In [114]:
s='Rajkamal'

In [115]:
max(s)

'm'

#### String.min	
Returns the minimum alphabetical character in a string.

In [116]:
s='rajkamal'

In [117]:
min(s)

'a'

In [118]:
s='Rajkamal'

In [119]:
min(s)

'R'

In [120]:
s='RAJKAMAL'

In [121]:
min(s)

'A'

#### string.capitalize	
Return a word with its first character capitalized.

In [122]:
s='rajkamal'

In [123]:
s.capitalize()

'Rajkamal'

#### string.count	
Return the number of (non-overlapping) occurrences of substring sub in string

In [124]:
s='apple'

In [125]:
s.count('a')

1

In [126]:
s.count('p')

2

#### string.lower	
Return a copy of s, but with upper case letters converted to lower case.

In [127]:
s='Rajkamal B Gowda'

In [128]:
s.lower()

'rajkamal b gowda'

#### string.split	
Return a list of the words of the string,If the optional second argument sep is absent or None

In [129]:
s='Rajkamal is a bad boy'

In [130]:
s.split()

['Rajkamal', 'is', 'a', 'bad', 'boy']

In [131]:
s='rajkamal@gmail.com'

In [132]:
s.split('@')

['rajkamal', 'gmail.com']

#### string.join	
Concatenate a list or tuple of words with intervening occurrences of sep.

In [133]:
lst=['Raj','kamal','is', 'a', 'good', 'boy']

In [134]:
s='**'

In [135]:
x='--'

In [136]:
s.join(lst)

'Raj**kamal**is**a**good**boy'

In [137]:
x.join(lst)

'Raj--kamal--is--a--good--boy'

#### string.upper	
lower case letters converted to upper case.

In [138]:
s='rajkamal b gowda'

In [139]:
s.upper()

'RAJKAMAL B GOWDA'