# Python List
Lists are just like the arrays, declared in other languages. Lists need not be homogeneous always which makes it a most powerful tool in Python. A single list may contain DataTypes like Integers, Strings, as well as Objects. Lists are mutable, and hence, they can be altered even after their creation.

List in Python are ordered and have a definite count. The elements in a list are indexed according to a definite sequence and the indexing of a list is done with 0 being the first index. Each element in the list has its definite place in the list, which allows duplicating of elements in the list, with each element having its own distinct place and credibility.

Note- Lists are a useful tool for preserving a sequence of data and further iterating over it.

### creating a list

In [2]:
list1=[] #an empty list

In [3]:
list1

[]

In [4]:
list2=['apple','mango','bannana','pineapple'] #only string

In [5]:
list2

['apple', 'mango', 'bannana', 'pineapple']

In [6]:
list3=[2,4,6,8,10,12,14,16] #only integers

In [7]:
list3

[2, 4, 6, 8, 10, 12, 14, 16]

In [10]:
list4=[1.2,1.3,1.4,1.5,1.6] #only float

In [11]:
list4

[1.2, 1.3, 1.4, 1.5, 1.6]

In [12]:
list5=['apple','mango',123,2.52] #Combined data types

In [13]:
list5

['apple', 'mango', 123, 2.52]

In [14]:
list6=[1,2,3,4,4,3,3,5,6] #repeated elements

In [15]:
list6

[1, 2, 3, 4, 4, 3, 3, 5, 6]

## Adding Elements to a List

#### Using append() method
Elements can be added to the List by using built-in append() function. Only one element at a time can be added to the list by using append() method, for addition of multiple elements with the append() method, loops are used. Tuples can also be added to the List with the use of append method because tuples are immutable. Unlike Sets, Lists can also be added to the existing list with the use of append() method

In [16]:
# Creating a List 
List = []

In [17]:
# Addition of Elements  
# in the List 
List.append(1) 
List.append(2) 
List.append(4)

In [18]:
List

[1, 2, 4]

In [19]:
# Adding elements to the List using Iterator 

for i in range(1, 4): 
    List.append(i) 
print(List)

[1, 2, 4, 1, 2, 3]

In [20]:
# Adding Tuples to the List 

List.append((5, 6)) 
print(List)

[1, 2, 4, 1, 2, 3, (5, 6)]

In [21]:
# Addition of List to a List 

List2 = ['Raj', 'Kamal'] 
List.append(List2) 
print(List)

[1, 2, 4, 1, 2, 3, (5, 6), ['Raj', 'Kamal']]

#### Using insert() method
append() method only works for addition of elements at the end of the List, for addition of element at the desired position, insert() method is used. Unlike append() which takes only one argument, insert() method requires two arguments(position, value).

In [22]:
# Creating a List 
List = [1,2,3,4] 
print(List)

[1, 2, 3, 4]

In [23]:
List.insert(3, 12) 
List.insert(0, 'Python') 
print(List)

['Python', 1, 2, 3, 12, 4]

#### Using extend() method
Other than append() and insert() methods, thereâ€™s one more method for Addition of elements, extend(), this method is used to add multiple elements at the same time at the end of the list.

In [24]:
# Creating a List 
List = [1,2,3,4] 
print(List)

[1, 2, 3, 4]

In [25]:
# (using Extend Method) 
List.extend([8, 'Python', 'Always']) 
print("\nList after performing Extend Operation: ") 
print(List)

List after performing Extend Operation:
[1, 2, 3, 4, 8, 'Python', 'Always']

## Accessing elements from the List
In order to access the list items refer to the index number.Use the index operator [ ] to access an item in a list.The index must be an integer.Nested list are accessed using nested indexing.

In [26]:
List = ["Python", "For", "Everybody"]

In [27]:
List[0]

'Python'

In [28]:
List[1]

'For'

In [29]:
List[2]

'Everybody'

##### Acessing a element from a Multi-Dimensional list

In [30]:
List = [['apple', 'mango'] , ['tomato','brinjal']]

In [31]:
List[0]

['apple', 'mango']

In [32]:
List[1]

['tomato', 'brinjal']

In [33]:
List[0][0]

'apple'

In [34]:
List[0][1]

'mango'

In [35]:
List[1][0]

'tomato'

In [36]:
List[1][1]

'brinjal'

#### Negative indexing
In Python, negative sequence indexes represent positions from the end of the array. Instead of having to compute the offset as in List[len(List)-3], it is enough to just write List[-3]. Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

In [37]:
List = [1, 2, 'Raj', 4, 'Kamal', 6, 'Python'] 
# accessing a element using negative indexing 
  
# print the last element of list 
print(List[-1])

Python

In [38]:
# print the third last element of list  
print(List[-3])

Kamal

In [39]:
List[-2]

6

### Removing Elements from the List

#### Using remove() method
Elements can be removed from the List by using built-in remove() function but an Error arises if element doesnâ€™t exist in the set. Remove() method only removes one element at a time, to remove range of elements, iterator is used. The remove() method removes the specified item.

Note â€“ Remove method in List will only remove the first occurrence of the searched element.

In [44]:
List = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 
print("Intial List: ") 
print(List)

Intial List:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [45]:
# Removing elements from List 
# using Remove() method 

List.remove(5) 
List.remove(6) 

print("List after Removal of two elements: ") 
print(List)

List after Removal of two elements:
[1, 2, 3, 4, 7, 8, 9, 10, 11, 12]

In [46]:
# Removing elements from List using iterator method 

for i in range(1, 5): 
    List.remove(i) 
    
print("List after Removing a range of elements: ") 
print(List)

List after Removing a range of elements:
[7, 8, 9, 10, 11, 12]

#### Using pop() method
Pop() function can also be used to remove and return an element from the set, but by default it removes only the last element of the set, to remove element from a specific position of the List, index of the element is passed as an argument to the pop() method.

In [47]:
List = [1,2,3,4,5] 
# Removing element from the Set using the pop() method 

List.pop() 

print("List after popping an element: ") 
print(List)

List after popping an element:
[1, 2, 3, 4]

In [48]:
# Removing element at a specific location from the Set using the pop() method 

List.pop(2) 

print("List after popping a specific element: ") 
print(List)

List after popping a specific element:
[1, 2, 4]

In [49]:
List.pop()

4

In [50]:
List.pop()

2

In [51]:
List.pop()

1

In [52]:
List

[]

## Slicing of a List
In Python List, there are multiple ways to print the whole List with all the elements, but to print a specific range of elements from the list, we use Slice operation. Slice operation is performed on Lists with the use of colon(:). To print elements from beginning to a range use [:Index], to print elements from end use [:-Index], to print elements from specific Index till the end use [Index:], to print elements within a range, use [Start Index:End Index] and to print whole List with the use of slicing operation, use [:]. Further, to print whole List in reverse order, use [::-1].

Note â€“ To print elements of List from rear end, use Negative Indexes.

In [53]:
# Creating a List 
List = ['G','E','E','K','S','F', 'O','R','G','E','E','K','S'] 

print("Intial List: ") 
print(List)

Intial List:
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

In [54]:
# Print elements of a range using Slice operation 

Sliced_List = List[3:8] 
print("Slicing elements in a range 3-8: ") 
print(Sliced_List)

Slicing elements in a range 3-8:
['K', 'S', 'F', 'O', 'R']

In [56]:
# Print elements from a pre-defined point to end 

Sliced_List = List[5:] 

print("Elements sliced from 5th element till the end: ") 
print(Sliced_List)

Elements sliced from 5th element till the end:
['F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

In [57]:
# Printing elements from beginning till end 

Sliced_List = List[:] 

print("Printing all elements using slice operation: ") 
print(Sliced_List)

Printing all elements using slice operation:
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

#### Negative index List slicing

In [58]:
# Creating a List 
List = ['G','E','E','K','S','F', 'O','R','G','E','E','K','S']

print("Initial List: ") 
print(List)

Initial List:
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

In [61]:
# Print elements from beginning to a pre-defined point using Slice 

Sliced_List = List[:-6] 

print("\nElements sliced till 6th element from last: ") 
print(Sliced_List)

Elements sliced till 6th element from last:
['G', 'E', 'E', 'K', 'S', 'F', 'O']

In [62]:
# Print elements of a range using negative index List slicing 

Sliced_List = List[-6:-1] 
print("\nElements sliced from index -6 to -1") 
print(Sliced_List)

Elements sliced from index -6 to -1
['R', 'G', 'E', 'E', 'K']

In [63]:
# Printing elements in reverse using Slice operation 

Sliced_List = List[::-1] 
print("\nPrinting List in reverse: ") 
print(Sliced_List)

Printing List in reverse:
['S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G']

### Clear()	
Removes all items from the list

In [64]:
list1=[1,2,3,4,5,6,7]

In [65]:
list1.clear()

In [66]:
list1

[]

### Index()	
Returns the index of the first matched item

Syntax :

list_name.index(element, start, end)

In [67]:
list1=[1,2,3,4,5,6,7]

In [68]:
list1.index(2)

1

In [69]:
list1 = [1, 2, 3, 4, 1, 1, 1, 4, 5] 
  
# Will print the index of '4' in list1 
print(list1.index(4))

3

In [70]:
list2 = ['cat', 'bat', 'mat', 'cat', 'pet'] 
  
# Will print the index of 'cat' in list2  
print(list2.index('cat'))

0

In [71]:
list1 = [1, 2, 3, 4, 1, 1, 1, 4, 5] 
  
# Will print index of '4' in sublist having index from 4 to 8. 
print(list1.index(4, 4, 8))

7

In [74]:
# Will print index of '1' in sublist having index from 1 to 7. 

print(list1.index(1, 1, 7)) 
  
list2 = ['cat', 'bat', 'mat', 'cat','get', 'cat', 'sat', 'pet']

4

In [75]:
# Will print index of 'cat' in sublist having index from 2 to 6 
print(list2.index('cat', 2, 6 ))

3

In [76]:
# Random list having sublist and tuple also 
list1 = [1, 2, 3, [9, 8, 7], ('cat', 'bat')] 
  
# Will print the index of sublist [9, 8, 7] 
print(list1.index([9, 8, 7]))

3

In [77]:
# Will print the index of tuple ('cat', 'bat') inside list  
print(list1.index(('cat', 'bat')))

4

In [78]:
list1 = [1, 2, 3, 4, 1, 1, 1, 4, 5] 
  
# Return ValueError 
print(list1.index(10))

ValueError: 10 is not in list

### Sort()	
Sort items in a list in ascending order

In [79]:
list1=[2,3,5,8,5,4,3,1]

In [81]:
list1.sort

In [83]:
list1

[1, 2, 3, 3, 4, 5, 5, 8]

In [85]:
list2=['a','b','d','y','x','s','y','h']

In [86]:
list2.sort()

In [87]:
list2

['a', 'b', 'd', 'h', 's', 'x', 'y', 'y']

In [88]:
numbers = [1, 3, 4, 2] 
  
# Sorting list of Integers 
numbers.sort(reverse=True) 
  
print(numbers)

[4, 3, 2, 1]

In [89]:
# List of Floating point numbers 
decimalnumber = [2.01, 2.00, 3.67, 3.28, 1.68] 
  
# Sorting list of Floating point numbers 
decimalnumber.sort(reverse=True) 
  
print(decimalnumber)

[3.67, 3.28, 2.01, 2.0, 1.68]

In [90]:
# List of strings 
words = ["Python", "For", "Everybody"] 
  
# Sorting list of strings 
words.sort(reverse=True) 
  
print(words)

['Python', 'For', 'Everybody']

### Reverse()
Reverse the order of items in the list

In [91]:
lis=[1,2,3,4,6,7]

In [92]:
lis.reverse()

In [93]:
lis

[7, 6, 4, 3, 2, 1]

### copy()

In [94]:
list1=[1,2,3,4,5]

In [95]:
list1

[1, 2, 3, 4, 5]

In [96]:
list2=list1.copy()

In [97]:
list2

[1, 2, 3, 4, 5]

### sum()

In [98]:
lis=[1,2,3,4,5]

In [100]:
sum(lis)

15

### max()
return maximum element of given list

In [101]:
lis1=[45,34,23,56,78,76]

In [102]:
max(lis1)

78

### min()	
return minimum element of given list

In [103]:
min(lis1)

23

### all()
Returns true if all element are true or if list is empty

In [104]:
list1=[True,True,True,True,True]

In [106]:
all(list1)

True

In [107]:
list1=[True,True,True,False,True]

In [108]:
all(list1)

False

In [109]:
list1=[]

In [110]:
all(list1)

True

### any()	
return true if any element of the list is true. if list is empty, return false

In [111]:
list1=[True,True,False]

In [112]:
any(list1)

True

In [113]:
list1=[]

In [114]:
any(list1)

False

### enumerate()	
Returns enumerate object of list

In [115]:
a=['apple','mango','gauva','bannana','grapes']

In [118]:
enumerate(a)

In [119]:
list(enumerate(a))

[(0, 'apple'), (1, 'mango'), (2, 'gauva'), (3, 'bannana'), (4, 'grapes')]

In [120]:
for i in enumerate(a):
    print(i)

(0, 'apple')
(1, 'mango')
(2, 'gauva')
(3, 'bannana')
(4, 'grapes')

In [132]:
dict(enumerate(a))

{0: 'apple', 1: 'mango', 2: 'gauva', 3: 'bannana', 4: 'grapes'}

In [133]:
for x,y in enumerate(a):
    print(x,y)

0 apple
1 mango
2 gauva
3 bannana
4 grapes