# Python Sets
In Python, Set is an unordered collection of data type that is iterable, mutable and has no duplicate elements. The order of elements in a set is undefined though it may consist of various elements.

The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set.

### Creating a Set
Sets can be created by using the built-in set() function with an iterable object or a sequence by placing the sequence inside curly braces, separated by ‘comma’.

Note – A set cannot have mutable elements like a list, set or dictionary, as its elements.

In [1]:
set()

set()

In [2]:
s=set()

In [3]:
s

set()

In [4]:
# Creating a Set with the use of a String

set1 = set("Rajkamal") 

print("\nSet with the use of String: ") 
print(set1)

Set with the use of String:
{'j', 'k', 'R', 'a', 'l', 'm'}

In [5]:
# Creating a Set with the use of Constructor (Using object to Store String) 

String = 'Rajkamal B Gowda'
set1 = set(String) 
print("\nSet with the use of an Object: " ) 
print(set1)

Set with the use of an Object:
{'B', 'o', 'd', 'j', 'k', 'R', ' ', 'G', 'a', 'w', 'l', 'm'}

In [6]:
# Creating a Set with the use of a List 

set1 = set(["Python", "For", "Everybody"]) 
print("\nSet with the use of List: ") 
print(set1)

Set with the use of List:
{'Python', 'For', 'Everybody'}

In [7]:
# Creating a Set with  a List of Numbers (Having duplicate values) 
set1 = set([1, 2, 4, 4, 3, 3, 3, 6, 5]) 
print("\nSet with the use of Numbers: ") 
print(set1)

Set with the use of Numbers:
{1, 2, 3, 4, 5, 6}

In [8]:
# Creating a Set with a mixed type of values (Having numbers and strings) 
set1 = set([1, 2, 'Python', 4, 'For', 6, 'Everybody']) 
print("\nSet with the use of Mixed Values") 
print(set1)

Set with the use of Mixed Values
{1, 2, 'Python', 4, 6, 'Everybody', 'For'}

## Adding Elements to a Set

#### Using add() method
Elements can be added to the Set by using built-in add() function. Only one element at a time can be added to the set by using add() method, loops are used to add multiple elements at a time with the use of add() method.

Note – Lists cannot be added to a set as elements because Lists are not hashable whereas Tuples can be added because tuples are immutable and hence Hashable.

In [9]:
# Addition of elements in a Set 
  
# Creating a Set 
set1 = set() 
print("Intial blank Set: ") 
print(set1)

Intial blank Set:
set()

In [10]:
# Adding element and tuple to the Set 
set1.add(8) 
set1.add(9) 
set1.add((6,7)) 
print("\nSet after Addition of Three elements: ") 
print(set1)

Set after Addition of Three elements:
{8, 9, (6, 7)}

In [11]:
# Adding elements to the Set using Iterator 

for i in range(1, 6): 
    set1.add(i) 
print("\nSet after Addition of elements from 1-5: ") 
print(set1)

Set after Addition of elements from 1-5:
{1, 2, 3, (6, 7), 4, 5, 8, 9}

#### Using update() method
For addition of two or more elements Update() method is used. The update() method accepts lists, strings, tuples as well as other sets as its arguments. In all of these cases, duplicate elements are avoided.

In [12]:
# Addition of elements to the Set using Update function 

set1 = set([ 4, 5, (6, 7)]) 
set1.update([10, 11]) 

print("\nSet after Addition of elements using Update: ") 

print(set1)

Set after Addition of elements using Update:
{4, 5, (6, 7), 10, 11}

## Accessing a Set
Set items cannot be accessed by referring to an index, since sets are unordered the items has no index. But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [13]:
# Creating a set 
set1 = set(["Python", "For", "Everybody"]) 

print("\nInitial set") 
print(set1)

Initial set
{'Python', 'For', 'Everybody'}

In [14]:
# Accessing element using for loop 

print("\nElements of set: ") 

for i in set1: 
    print(i, end=" ")

Elements of set:
Python For Everybody

In [15]:
print("\nElements of set: ") 

for i in set1: 
    print(i, end=",")

Elements of set:
Python,For,Everybody,

In [16]:
# Checking the element using in keyword 

print("Raj" in set1)

False

In [17]:
"Python" in set1

True

#### Removing elements from the Set
Using remove() method or discard() method
Elements can be removed from the Set by using built-in remove() function but a KeyError arises if element doesn’t exist in the set. To remove elements from a set without KeyError, use discard(), if the element doesn’t exist in the set, it remains unchanged.

In [18]:
# Deletion of elements in a Set 
  
# Creating a Set 
set1 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]) 

print("\nIntial Set: ") 
print(set1)

Intial Set:
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [19]:
# Removing elements from Set using Remove() method 

set1.remove(5) 
set1.remove(6) 

print("\nSet after Removal of two elements: ") 
print(set1)

Set after Removal of two elements:
{1, 2, 3, 4, 7, 8, 9, 10, 11, 12}

In [20]:
# Removing elements from Set using Discard() method 

set1.discard(8) 
set1.discard(9) 
set1.discard(15)

print("\nSet after Discarding two elements: ") 
print(set1)

Set after Discarding two elements:
{1, 2, 3, 4, 7, 10, 11, 12}

In [21]:
# Removing elements from Set using iterator method 

for i in range(1, 5): 
    set1.remove(i) 
print("\nSet after Removing a range of elements: ") 
print(set1)

Set after Removing a range of elements:
{7, 10, 11, 12}

#### Using pop() method
Pop() function can also be used to remove and return an element from the set, but it removes only the last element of the set.

Note – If the set is unordered then there’s no such way to determine which element is popped by using the pop() function.

In [22]:
# Deletion of elements in a Set 
  
# Creating a Set 
set1 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]) 

print("Intial Set: ") 
print(set1)

Intial Set:
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [23]:
# Removing element from the Set using the pop() method 

set1.pop() 
print("\nSet after popping an element: ") 
print(set1)

Set after popping an element:
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

### Using clear() method
To remove all the elements from the set, clear() function is used.

In [24]:
#Creating a set 

set1 = set([1,2,3,4,5]) 
print("\n Initial set: ") 
print(set1)

 Initial set:
{1, 2, 3, 4, 5}

In [25]:
# Removing all the elements from  Set using clear() method 

set1.clear() 
print("\nSet after clearing all the elements: ") 
print(set1)

Set after clearing all the elements:
set()

### Frozen sets
Frozen sets in Python are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied. While elements of a set can be modified at any time, elements of the frozen set remain the same after creation.
If no parameters are passed, it returns an empty frozenset.

In [26]:
# Creating a Set 
String = set('rajkamalbgowda')

In [27]:
String

{'a', 'b', 'd', 'g', 'j', 'k', 'l', 'm', 'o', 'r', 'w'}

In [28]:
Fset1 = frozenset(String) 
print(Fset1)

frozenset({'o', 'd', 'j', 'k', 'r', 'a', 'b', 'g', 'w', 'l', 'm'})

In [29]:
# To print Empty Frozen Set No parameter is passed 

print("\nEmpty FrozenSet: ") 
print(frozenset())

Empty FrozenSet:
frozenset()

### union()	
Returns the union of sets in a new set

Union of two given sets is the smallest set which contains all the elements of both the sets. Union of two given sets A and B is a set which consists of all the elements of A and all the elements of B such that no element is repeated.

In [30]:
# Python3 program for union() function 
  
set1 = {2, 4, 5, 6}  
set2 = {4, 6, 7, 8}  
set3 = {7, 8, 9, 10}

In [31]:
# union of two sets 
print("set1 U set2 : ", set1.union(set2))

set1 U set2 :  {2, 4, 5, 6, 7, 8}

In [32]:
# union of three sets 
print("set1 U set2 U set3 :", set1.union(set2, set3))

set1 U set2 U set3 : {2, 4, 5, 6, 7, 8, 9, 10}

### difference()
Returns the difference of two or more sets as a new set

Syntax:

- set_A.difference(set_B) for (A - B)
- set _B.difference(set_A) for (B - A)

In [33]:
A = {10, 20, 30, 40, 80} 
B = {100, 30, 80, 40, 60}

In [34]:
print (A.difference(B))

{10, 20}

In [35]:
print (B.difference(A))

{100, 60}

We can also use – operator to find difference between two sets.

In [36]:
A = {10, 20, 30, 40, 80} 
B = {100, 30, 80, 40, 60}

In [37]:
print (A - B)

{10, 20}

In [38]:
print (B - A)

{100, 60}

### difference_update()
Removes all elements of another set from this set

If A and B are two sets. The set difference() method will get the (A – B) and will return a new set. The set difference_update() method modifies the existing set. If (A – B) is performed, then A gets modified into (A – B), and if (B – A) is performed, then B gets modfied into (B – A).

The function returns None and changes the value of the existing set.
In this example, we will get the difference between two sets and show how the difference_update works.

In [39]:
A = {10, 20, 30, 40, 80} 
B = {100, 30, 80, 40, 60} 
  
# Modifies A and returns None 
A.difference_update(B) 
  
# Prints the modified set 
print (A)

{10, 20}

### intersection()
Returns the intersection of two sets as a new set

Intersection of two given sets is the largest set which contains all the elements that are common to both the sets. Intersection of two given sets A and B is a set which consists of all the elements which are common to both A and B.

In [40]:
set1 = {2, 4, 5, 6}  
set2 = {4, 6, 7, 8}  
set3 = {4,6,8} 
  
# intersection of two sets 
print("set1 intersection set2 : ", set1.intersection(set2)) 
  
# intersection of three sets 
print("set1 intersection set2 intersection set3 :", set1.intersection(set2,set3))

set1 intersection set2 :  {4, 6}
set1 intersection set2 intersection set3 : {4, 6}

### intersection_update()	
Updates the set with the intersection of itself and another

In [41]:
set1 = {2, 4, 5, 6}  
set2 = {4, 6, 7, 8}  
set3 = {4,6,8}

In [42]:
set1.intersection_update(set2)

In [43]:
set1

{4, 6}

In [44]:
set1 = {2, 4, 5, 6}  
set2 = {4, 6, 7, 8}  
set3 = {4,6,8}

In [45]:
set1.intersection_update(set2,set3)

In [46]:
set1

{4, 6}

### isdisjoint()	
Returns True if two sets have a null intersection

In [47]:
set1 = {2, 4, 5, 6}  
set2 = {7, 8, 1, 0}

In [48]:
set1.isdisjoint(set2)

True

In [49]:
set1 = {2, 4, 5, 6}  
set2 = {7, 8, 1, 0,2}

In [50]:
set1.isdisjoint(set2)

False

### issubset()	
Returns True if another set contains this set

In [51]:
set1 = {2, 4, 5, 6}  
set2 = {7, 8, 1, 0,2,5,6,4}

In [52]:
set1.issubset(set2)

True

In [53]:
set2.issubset(set1)

False

In [54]:
set1.issubset(set1)

True

In [55]:
set2.issubset(set2)

True

### issuperset()
Returns True if this set contains another set

The issuperset() method returns True if all elements of a set A occupies set B which is passed as an argument and returns false if all elements of B not present in A.
This means if A is a superset of B then it returns true; else False

In [56]:
set1={1,2,3,4,5,6,7,8,9}
set2={1,2,3}

In [57]:
set1.issuperset(set2)

True

In [58]:
set1={1,2,3,4,5,6,7,8,9}
set2={1,2,3,0}

In [59]:
set1.issuperset(set2)

False

### symmetric_difference()	
Returns the symmetric difference of two sets as a new set

This in-built function of Python Set helps us to get the symmetric difference between two sets, which is equal to the elements present in either of the two sets, but not common to both the sets

If there are a set_A and set_B, then the symmetric difference between them will be equal to the union of set_A and set_B without the intersection between the two.

In [60]:
set_A = {1, 2, 3, 4, 5} 
set_B = {6, 7, 3, 9, 4}

In [61]:
set_A.symmetric_difference(set_B)

{1, 2, 5, 6, 7, 9}

In [62]:
#proof

inter=set_A.intersection(set_B)
uni=set_A.union(set_B)
uni.difference(inter)

{1, 2, 5, 6, 7, 9}

In [63]:
# Python code to find the Symmetric difference using ^ operator. 
  
set_A = {"ram", "rahim", "ajay", "rishav", "aakash"} 
set_B = {"aakash", "ajay", "shyam", "ram", "ravi"} 
print(set_A ^ set_B)

{'ravi', 'rahim', 'shyam', 'rishav'}

In [64]:
# One more example Python code to find  the symmetric_difference use of symmetric_difference() method 
  
A = {'p', 'a', 'w', 'a', 'n'} 
B = {'r', 'a', 'o', 'n', 'e'} 
C = {} 
  
print(A.symmetric_difference(B)) 
print(B.symmetric_difference(A)) 
  
print(A.symmetric_difference(C)) 
print(B.symmetric_difference(C))

{'w', 'o', 'p', 'r', 'e'}
{'o', 'p', 'w', 'r', 'e'}
{'a', 'n', 'p', 'w'}
{'n', 'o', 'r', 'a', 'e'}

### symmetric_difference_update()
Updates a set with the symmetric difference of itself and another

symmetric_difference() method returns a new set which contains symmetric difference of two sets. The symmetric_difference_update() method updates the set calling symmetric_difference_update() with the symmetric difference of sets.

In [65]:
# symmetric_difference_update() 
  
A = {'p', 'a', 'w', 'a', 'n'} 
B = {'r', 'a', 'o', 'n', 'e'}

In [66]:
A

{'a', 'n', 'p', 'w'}

In [67]:
B

{'a', 'e', 'n', 'o', 'r'}

In [68]:
A.symmetric_difference_update(B)

In [69]:
A

{'e', 'o', 'p', 'r', 'w'}