# Type Conversion in Python

Python defines type conversion functions to directly convert one data type to another which is useful in day to day and competitive programming.

### 1. int(a,base) : 
This function converts any data type to integer. ‘Base’ specifies the base in which string is if data type is string.

In [1]:
# initializing string 
s = "10010"
  
# printing string converting to int base 2 
c = int(s,2)

In [2]:
c

18

### 2. float() : 
This function is used to convert any data type to a floating point number

In [3]:
s=10123

In [4]:
# printing string converting to float 
e = float(s)

In [5]:
e

10123.0

### 3. ord() : 
    This function is used to convert a character to integer.

In [6]:
# initializing integer 
s = '4'
  
# printing character converting to integer 
c = ord(s)

In [7]:
c

52

### 4. hex() :
This function is to convert integer to hexadecimal string.

In [8]:
c = hex(56)

In [9]:
c

'0x38'

### 5. oct() : 
This function is to convert integer to octal string.

In [10]:
# printing integer converting to octal string 
c = oct(56)

In [11]:
c

'0o70'

### 6. tuple() :
This function is used to convert to a tuple.

In [12]:
s = 'Raj'
  
# printing string converting to tuple 
c = tuple(s)

In [13]:
c

('R', 'a', 'j')

### 7. set() : 
This function returns the type after converting to set.

In [14]:
# printing string converting to set 
c = set(s)

In [15]:
c

{'R', 'a', 'j'}

### 8. list() : 
This function is used to convert any data type to a list type.

In [16]:
# printing string converting to list 
c = list(s)

In [17]:
c

['R', 'a', 'j']

### 9. dict() :
This function is used to convert a tuple of order (key,value) into a dictionary.

In [18]:
# initializing tuple 
tup = (('a', 1) ,('f', 2), ('g', 3))

In [19]:
c=dict(tup)

In [20]:
c

{'a': 1, 'f': 2, 'g': 3}

### 10. str() :
Used to convert integer into a string.

In [21]:
a=25

In [22]:
type(a)

int

In [23]:
c=str(a)

In [24]:
c

'25'

In [25]:
type(c)

str

### 11. complex(real,imag) : 
    This function converts real numbers to complex(real,imag) number.

In [26]:
# initializing integers 
a = 1
b = 2

In [27]:
# printing integer converting to complex number 
c = complex(1,2) 
print ("After converting integer to complex number : ",end="") 
print (c)

After converting integer to complex number : (1+2j)